[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "akshay-vedi.github.io"]
	path = akshay-vedi.github.io
	url = https://github.com/akshay-vedi/akshay-vedi.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/akshay-vedi/akshay-vedi.github.io.git
	branch = main
